@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=JetBrains+Mono:wght@200;400;700&display=swap');
* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    line-height: 4vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.card {
    display: flex;
    align-items: center;
    position: relative;
    width: 40vh;
    height: 35vh;
    border-radius: 5vh;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4vh;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    clip-path: circle(30% at center);
    transition: ease-out 1.2s;
}

.card .circle:hover:before {
    clip-path: circle(75% at top left);
    background-image: linear-gradient(to left top, #102325, #295b5f, #50969e, #AEFEFF);
    position: absolute;
}

.card img {
    width: 20vh;
    border-radius: 50vh;
    position: relative;
    z-index: -1;
    left: 8vh;
    opacity: 0;
    pointer-events: none;
    transition: 0.9s;
}

.card:hover img {
    position: absolute;
    border-radius: 50vh;
    left: 30vh;
    transition: 0.9s;
    z-index: 1;
    opacity: 1;
}

.card .text {
    font-size: 1.5vh;
    position: absolute;
    width: 25vh;
    opacity: 0;
    transition: 0.9s;
    left: 10vh;
}

.card:hover .text {
    opacity: 1;
    color: rgb(75, 1, 75);
    left: 3vh;
    pointer-events: none;
}

.text p {
    color: rgb(118, 0, 118);
    opacity: 0.5;
    padding: 1vh 3vh;
}

#p-under {
    font-size: 1vh;
    width: 100%;
}


/*  side planets */

#planet1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    opacity: 0;
    top: 83%;
    width: 15vh;
    transition: ease-out 1.2s;
    cursor: default;
}

#planet-side1 {
    width: 8vh;
    transition: ease-out 1.2s;
}

#planet1 p {
    font-size: 2.5vh;
}


/* planet 2 */

#planet2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    opacity: 0;
    top: 70%;
    left: 80%;
    width: 15vh;
    transition: ease-out 1.2s;
    cursor: default;
}

#planet-side2 {
    width: 8vh;
    transition: ease-out 1.2s;
}

#planet2 p {
    font-size: 3vh;
}


/* planet 3 */

#planet3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    opacity: 0;
    top: 20%;
    left: 1%;
    width: 15vh;
    transition: ease-out 1.2s;
    cursor: default;
}

#planet-side3 {
    width: 8vh;
    transition: ease-out 1.2s;
}

#planet3 p {
    font-size: 2.5vh;
}


/* planet 4 */

#planet4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    opacity: 0;
    top: 85%;
    left: 20%;
    width: 15vh;
    transition: ease-out 1.2s;
    cursor: default;
}

#planet-side4 {
    width: 8vh;
    transition: ease-out 1.2s;
}

#planet4 {
    font-size: 2.5vh;
}


/* planet 5 */

#planet5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    opacity: 0;
    top: 20%;
    left: 60%;
    width: 15vh;
    transition: ease-out 1.2s;
    cursor: default;
}

#planet-side5 {
    width: 8vh;
    transition: ease-out 1.2s;
}

#planet5 {
    font-size: 2.5vh;
}


/* winner message */

#winner-message {
    position: absolute;
    z-index: -1;
    opacity: 0;
    color: white;
    pointer-events: none;
}